@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 215, 114, 246;
    --background-end-rgb: 40, 84, 255;
    --body-background-color: 231, 231, 231;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .button-color {
    background: linear-gradient(
      to right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  }
  .container-bg {
    background: rgb(var(--foreground-rgb));
  }

  .middleContainer-bg {
    background: rgb(var(--body-background-color));
  }
  .none {
    display: none;
  }

  .borderCustomize {
    border: 1px solid grey;
  }

  .flexColBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
